---
import type { CollectionEntry } from "astro:content"
import  Pill  from "./Pill.astro"

interface Props {
  post: CollectionEntry<'blog'>
}
const { post, id } = Astro.props
const url = "/blog/" + id
---

<div class="card">
  <div class="card__image">
    <img src={post.cover.src} alt={post.coverAlt} />
  </div>
  <div class="card__content">
    <h3>
      <a href={url}>{post.title}</a>
    </h3>
    <p>
      <slot>Default description.</slot>
    </p>
  </div>
  <div class="card__footer py-5">
    <ul>
      {
        post.tags.map((tag) => (
          <li><Pill tag={tag}/>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    max-width: 60ch;
    min-height: 100%;
    position: relative;
    transition: box-shadow 0.15s ease-in-out;
    overflow: visible !important;
    
    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: var(--neutral-100);
      border: 2px solid var(--neutral-700);
      border-radius: 0.5rem;
      box-shadow: 0 0 0 5px var(--neutral-100);
      z-index: 1;
    }

    &::after {
      background-color: var(--action-color);
      inset: 1.5em -1em -1em 1.5em;
      border-radius: 1em;
      z-index: 0;
    }
  }

  :global(.darkmode .card::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 5px var(--dark-100);
  
  }

  :global(.card [data-icon]) {
    height: auto;
    width: 4rem;
    color: var(--action-color);
  }

  .card:hover,
  .card:focus-within {
    box-shadow: 0 0 0 .25rem var(--action-color-state);;
    &::after {
      background-color: var(--action-color-state);
    }
  }

  .card:focus-within a:focus {
    text-decoration: none;
    box-shadow: none;
    outline: none;
  }

  .card__image {
    height: 10rem;
  }

  .card__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
  }

  .card__content a {
    text-decoration: none;
  }

  .card__content a:focus {
    text-decoration: underline;
  }

  .card__content a::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  .card__content:last-child {
    margin-top: auto;
    padding-top: 2rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 0.75rem;
    justify-content: center;
  }
</style>